@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

.home {
    height: 100vh;
    padding: 0 50px;

    &__main {
        position: absolute;
        padding: 80px 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $color-black;
        background: linear-gradient(to right, $color-pink, $color-light-blue, $color-pink);
        background-repeat: repeat;
        background-position: relative;
        background-size: 200% 100px;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: rainbow ease-in-out 3s infinite;
        animation-play-state: paused;
        cursor: pointer;
        font-family: 'Major Mono Display', monospace;

        &__animated-border {
            position: absolute;
            background: linear-gradient(to right, $color-light-blue, $color-pink);

            &:nth-of-type(1) {
                top: 0;
                left: 0px;
                height: 2px;
                animation: animatedWidth 3s ease-in-out forwards;
            }

            &:nth-of-type(2) {
                top: 0px;
                right: 0;
                width: 1px;
                animation: animatedHeight 3s ease-in-out forwards;
            }

            &:nth-of-type(3) {
                bottom: 0;
                right: 0px;
                height: 1px;
                animation: animatedWidth 3s ease-in-out forwards;
            }

            &:nth-of-type(4) {
                bottom: 0px;
                left: 0;
                width: 2px;
                animation: animatedHeight 3s ease-in-out forwards;
            }
        }

        &:hover {
            animation-play-state: running;
        }

        &__name {
            text-align: center;
            
            h1 {
                font-size: 80px;
                display: inline;
            }
        }

        &__occupation {
            margin-top: 20px;
            text-align: center;

            h3 {
                font-size: 40px;
                display: inline;
            }
        }

        &__icons {
            margin-top: 50px;
            
            svg {
                width: 80px;
                height: 80px;
            }
        }
    }
}


@media (max-width: 1024px) {
    .home {

        &__main {

            h1 {
                font-size: 50px;
            }
    
            h3 {
                font-size: 25px;
                margin-top: 15px;
                line-height: 30px;
                padding-bottom: 5px;
            }
    
            &__icons {
                
                svg {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .home {
        padding: 0 20px;

        &__main {
            padding: 50px 25px;

            h1 {
                font-size: 40px;
            }
        }
    }
}

@media (max-width: 350px) {
    .home {
        padding: 0;

        &__main {
            padding: 30px 15px;
        }
    }
}


//Target Internet Explorer only
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .home {

        &__main {
            background: $color-black;

            h1, h3 {
                color: $color-light-blue;
            }
        }
    }
}

@supports (-ms-accelerator:true) {
    .home {

        &__main {
            background: $color-black;

            h1, h3 {
                color: $color-light-blue;
            }
        }
    }
 }

 @supports (-ms-ime-align:auto) {
    .home {

        &__main {
            background: $color-black;

            h1, h3 {
                color: $color-light-blue;
            }
        }
    }
}

// Target Firefox only
@supports (-moz-appearance:none) {
    .home {

        &__main {
            background: $color-black;
            -webkit-text-fill-color: $color-light-blue;
            text-fill-color: $color-light-blue;

            h1, h3 {
                color: $color-light-blue;
            }
        }
    }
}
