.logo {
  transition: transform 0.5s;

  &--loading {
    transform: scale(0);
  }

  &--loaded {
    transform: scale(1);
  }
}

.picture {
  transition: opacity 0.5s;

  &--loading {
    opacity: 0;
  }

  &--loaded {
    opacity: 1;
  }
}