
.icons {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    margin: 10px;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      box-shadow: 0 0.5em 0.5em -0.4em $color-pink;
      transform: translateY(-0.25em);
    }
  }
}

//Media Queries
@media (max-width: 768px) {
  .icons {

    &__item {
      box-shadow: 0 0.5em 0.5em -0.4em $color-pink;
      transform: translateY(-0.25em);
    }
  }
}
