// Colors
$color-black: #000022;
$color-grey: #737386;
$color-white: #fff;
$color-light-blue: #89fffd;
$color-lighter-blue: #bffdfc;
$color-pink: #ef32d9;
$color-lighter-pink: #f98bed;
$color-light-grey: #DBDFE8;

//$gradient: linear-gradient(to right, #FBD3E9, #BB377D);